apiVersion: v1
data:
  password: {{ es_creds.value }}
  username: {{ es_creds.key | b64encode }}
kind: Secret
metadata:
  name: {{ ext_es_secret | default('external-elasticsearch-credentials') }}
  namespace: {{ ocp_logging_namespace | default('openshift-logging') }}
type: Opaque